@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Xác thực thành công. Cảm ơn bạn đã thực hiện quá trình xác thực Email để đảm bảo bảo mật cho tài khoản. Mời @Html.ActionLink("bạn Click vào đây để Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
